@import '../styles/main.scss';

.welcome {
  height: 400px;
  color: white;
  
  padding: 30px;
  // display: flex;
  // flex-direction: column;
  
  &__title {
    color: white;
    // @include heading-1;
    // font-size: 30px;   
  }
}