.table {
  width: 100%;
  border-collapse: collapse;

  & th,
  & td {
    padding: 1rem;
  }

  & th {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
    color: $steel;
    border-bottom: 1px solid $smoke;
  }

  & td {
    font-size: 1.4rem;

    color: $charcoal;
  }

  &__row {
    &--selected {
      background-color: $azure !important;
      color: $white;
      & * {
        color: $white !important;
      }
    }
  }

  &-striped {
    .table__row {
      &:nth-child(odd) {
        background-color: $smoke;
      }
      &__title {
        font-weight: 700;
      }
    }
  }

  &-lined {
    & td {
      border-bottom: 1px solid $smoke;
    }
  }

  &-sm {
    & td {
      padding: 0.5rem;
    }
    & th {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
